<% include ../partials/header %>
<div class="jumbotron">
<center><img src="http://www.agiratech.com/wp-content/uploads/2017/10/full-stack-developer-b.jpg"width="500"</center>
    
     <B><center><h3 class="display-3">140-390 Full Stack Web with JS</h3></center></B>
     <center><h5 class="display-3">Express+EJS!</h5></center>
     <center><p class="lead"></p></center>
     <hr class="my-2">
      
     <p class="lead">
          <center><a class="btn btn-danger btn-lg" href="/about" role="button">GO TO ABOUT</a></center>
     </p>
 </div>
<% include ../partials/footer %>