 <% include ../partials/header %>
 <form action="/products/insert" method="post">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
      class="form-control" name="title" id="" aria-describedby="helpId" placeholder="title"value="">
    
  </div>
  <div class="form-group">
    <label for="Price">Price</label>
    <input type="number"
      class="form-control" name="price" id="" aria-describedby="helpId" placeholder="price"value="">
    
    
</div>



<div class="form-group">
  
         <input type="text"
          class="form-control" value="<%= time %>" id="" aria-describedby="helpId" placeholder="" disabled>
          <input type="hidden" value="<%= time %>"id="custId" name="time" >
        
      </div>
      
 
<a name="" id="" class="btn btn-light" href="/products" role="button">Cancel</a>
<button type="submit" class="btn btn-success">Save</button>











</from>
  <% include ../partials/footer %>